#hi {
    transform: rotate(10deg);
    margin-bottom: 10px;
}

@keyframes sayHi {
    0% {
        transform: rotate(10deg);
    }

    50% {
        transform: rotate(70deg);
    }

    100% {
        transform: rotate(10deg);
    }
}